.card-container {
  width: 80%;
  height: 55%;
  margin: auto;
  padding: 0 1rem;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: space-around;
  background-color: var(--grey-100);
  overflow: hidden;
  border: 2px solid green;
}

.card {
  margin-left: 2rem;
  width: 14rem;
  max-width: 14rem;
  min-height: 80%;
  display: flex;
  flex-direction: column;
  flex-basis: 30rem;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white);
  border-radius: 1rem;
  border: 2px solid blue;
}

.img-container {
  width: 60%;
}

.img-container img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
}

.card-title h4 {
  padding: 1rem;
  font-family: 'Tiro Tamil';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.card-title p {
  font-family: 'Karla Tamil Upright';
  font-style: normal;
  font-weight: 400;
  font-size: 1.05rem;
  text-align: center;
}
